.advantages {
  padding: calc(70 * var(--width-multiplier)) 0;
}
@media (max-width: 768px) {
  .advantages {
    padding: calc(30 * var(--width-multiplier)) 0;
  }
}
.advantages__title {
  color: #252323;
  font-size: calc(36 * var(--width-multiplier));
  font-weight: 700;
  line-height: calc(43 * var(--width-multiplier));
  letter-spacing: calc(-0.5 * var(--width-multiplier));
  text-transform: uppercase;
  margin-bottom: calc(32 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .advantages__title {
    font-size: calc(26 * var(--width-multiplier));
    line-height: calc(31 * var(--width-multiplier));
    margin-bottom: calc(20 * var(--width-multiplier));
  }
}
.advantages__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  gap: calc(20 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .advantages__grid {
    grid-template-columns: 100%;
    gap: calc(10 * var(--width-multiplier));
  }
}

.adv-card {
  --cut: calc(25 * var(--width-multiplier));
  --mid: calc(25 * var(--width-multiplier));

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(12 * var(--width-multiplier));
  min-height: calc(184 * var(--width-multiplier));
  padding: calc(32 * var(--width-multiplier));
  background: #f5f3f0;

  clip-path: polygon(
    var(--cut) 0%,
    calc(100% - var(--cut)) 0%,
    100% var(--mid),
    100% calc(100% - var(--mid)),
    calc(100% - var(--cut)) 100%,
    var(--cut) 100%,
    0% calc(100% - var(--mid)),
    0% var(--mid)
  );
}
@media (max-width: 768px) {
  .adv-card {
    --cut: calc(18 * var(--width-multiplier));
    --mid: calc(18 * var(--width-multiplier));

    min-height: 0;
    gap: calc(8 * var(--width-multiplier));
    padding: calc(20 * var(--width-multiplier));
  }
}
.adv-card__num {
  color: #f85b27;
  font-size: calc(28 * var(--width-multiplier));
  font-weight: 700;
  line-height: calc(31 * var(--width-multiplier));
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .adv-card__num {
    font-size: calc(22 * var(--width-multiplier));
    line-height: calc(26 * var(--width-multiplier));
  }
}
.adv-card__sub {
  color: #252323;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 600;
  line-height: calc(21 * var(--width-multiplier));
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .adv-card__sub {
    font-size: calc(14 * var(--width-multiplier));
    line-height: calc(18 * var(--width-multiplier));
  }
}
.adv-card__desc {
  opacity: 0.7;
  color: #252323;
  font-size: calc(14 * var(--width-multiplier));
  font-weight: 400;
  line-height: calc(22 * var(--width-multiplier));
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .adv-card__desc {
    font-size: calc(12 * var(--width-multiplier));
    line-height: calc(18 * var(--width-multiplier));
  }
}
